<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>buildmotion.com :: @ViewBag.Title
    </title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- head info here -->
    <link href="~/Content/buildmotion.css" rel="Stylesheet" />
    <link href="~/Content/shCoreDefault.css" rel="stylesheet" />
    <link href="~/Content/shThemeDefault.css" rel="stylesheet" />
    <script src="~/Scripts/shBrushCSharp.js"></script>
    <script src="~/Scripts/shCore.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div>
        <div id="header">
            <div class="container">
                <div id="logo">
                    <a href="#" title="Build somthing amazing..."><span class="build">build</span><span class="motion">motion</span>
                    </a>
                </div>
                <!-- NOTE: MasterPage items (e.g. menus, shared content, user controls) cannot be within the ContentPlaceHolder control. -->
                <!-- Add menu here -->
                <div id="nav">
                    <!-- navigation goes here -->
                    @*@RenderSection("MainMenu", true)*@
                    <ul id="menu">
                        <li >
                            @Html.ActionLink("Home", "Index", "Home", null, new {@class = "motion"})
                        </li>
                        <li class="build">
                            @Html.ActionLink("About", "About", "Home", null, new {@class = "build"})
                        </li>
                        <li>
                            @Html.ActionLink("Setup", "Index", "SetUp", null, new {@class = "motion"})
                        </li>
                        <li>
                            @Html.ActionLink("Admin", "Index", "Admin", null, new {@class = "build"})
                        </li>
                        <li>
                            @Html.ActionLink("Super Admin", "SuperAdmin", "Admin", null, new {@class = "motion"})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <div id="bars">
                    <div id="mainbar">
                        <div class="item">
                            <!-- main content goes here -->
                            @RenderBody()
                        </div>
                    </div>
                    <div id="sidebar">
                        <!-- sidebar content goes here -->
                        @RenderSection("featured", required: false)
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div id="footerLeftColumn">
                    <!-- footer-left content -->
                    <h2>Vergosity Framework Benefits</h2>
                    <ul>
                        <li><a href="~/Benefits/Testability">Testability</a></li>
                        <li><a href="~/Benefits/Extensibility">Extensibility</a></li>
                        <li><a href="~/Benefits/Maintainability">Maintainability</a></li>
                    </ul>
                </div>
                <div id="footerMiddleColumn">
                    <!-- footer-middle content -->
                    <h2>Vergosity Framework Resources</h2>
                    <ul>
                        <li><a href="~/Resource/Index">All Resources</a></li>
                        <li>Training Videos</li>
                        <li>Sample/Reference Application</li>
                        <li>Architecture Guideance</li>
                    </ul>
                </div>
                <div id="footerRightColumn">
                    <!-- footer-right content -->
                    <h2>eBooks and Whitepapers</h2>
                    <ul>
                        @*<li><a href="~/eBook/Index">eBook: Breaking the Rules</a></li>*@
                        <li>
                            @Html.ActionLink("eBook :: Breaking the Rules", "Index", "ResourceBuildMotion")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="footer-bottom">
            <div class="container">
                <!-- SiteFooter here -->
                &copy; 2009-@DateTime.Now.Year <a href="http://www.buildmotion.com" target="_blank">Build Motion</a>, LLC. All rights reserved.
            </div>
        </div>
       <script>
           (function (i, s, o, g, r, a, m) {
               i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                   (i[r].q = i[r].q || []).push(arguments)
               }, i[r].l = 1 * new Date(); a = s.createElement(o),
               m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
           })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

           ga('create', 'UA-42334263-1', 'vergosity.com');
           ga('send', 'pageview');

        </script>
        <script type="text/javascript">
        /* This implements the syntax highlighter for the specified code item(s) on the page.*/
            SyntaxHighlighter.all()
        </script>
    </div>
    @RenderSection("Scripts", false);
</body>
</html>
